@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.sidebar {
  width: 100px;
}
